<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="./dil/jquery.js"></script>
</head>
<body>
    @include('header.html')
            <div class="joinplay r">
                <p>
                下载游戏
                </p>
            </div>
            </div>
        </nav>
        <div class="banner">
            <img src="https://static-cdn.wotgame.cn/static/5.73.0_022301/wotp_static/img/main_page/frontend/scss/img/logo_zh-cn.webp" alt="" 
            class="bannerimg">
            <p class="bannerp">《坦克世界》是一款全球范围内倍受玩家推崇的3D装甲载具MMO游戏。丰富多彩的游戏内地图，高度还原历史的模型，真实的战斗体验——赶快加入坦克世界指挥官大军，来感受史诗级战斗的氛围吧</p>
            <div class="bannerdiv">
                <p>创建账号</p>
            </div>
            <video src="./img/video-bg_cn.mp4" muted autoplay width="100%" height="100%" loop></video>
        </div>
    </main>
    <div id="maincot">
        <div class="maincontent coent">
            <ul class="maincont l">
                <li>
                    <span class="leftbutton">
                        
                    </span>
                    <span class="rightbutton">
                       
                    </span>
                    <img src="./img/bigsenchina_1920-900_615x.jpg" alt="" class="maincontimg r">
                    <span class="shadow">

                    </span>
                    <div class="maintext l">
                        <p>领取您的2020当之无愧奖</p>
                    </div>
                    <ul class="buttonmove">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="maincotdiv r">
                <img src="./img/premshop-banner_cn.jpg" alt="">
                <span></span>
            </div>
        </div>
        <div class="centermain coent">
            <div class="centerdiv">
                <h2 class="l">最新消息</h2>
                <a href="#" class="l">所有资讯 ></a>
            </div>
            <div class="centerimg l">
                <div class="imgblock">
                    <img src="https://static-cdn.wotgame.cn/dcont/fb/image/harroun.jpg" alt="" >
                    <span class="centersha">
                    </span>
                </div>
                <div class="imgshadow">
                    <h2>哈罗恩勋章背后的故事</h2>
                    <p>来聊聊《坦克世界》中的史诗成就——“哈罗恩勋章”背后的真实历史故事，以及如何在游戏中获得这一史诗成就吧！</p>
                    <span>
                        <strong>攻略</strong> 2020/12/01
                    </span>  
                </div>
            </div>
            <span class="splie l">
            </span> 
            <dl class="l">
                <div>
                    <dd  class="dd-1">
                        <span class="ddshadow"></span>
                        <img src="./img/wot_wint_banner_615x346.jpg" alt="">
                    </dd>
                    <dd class="dd-2"> 
                        <h2>假日行动2021即将登场!</h2>
                        <p>一年中最神奇的时刻即将来临!</p>
                        <span><b>活动</b>  2020/12/01</span>
                    </dd>
                </div>
                <div>
                    <dd class="dd-1">
                        <span class="ddshadow"></span>
                        <img src="./img/wf.jpg" alt="">
                    </dd>
                    <dd class="dd-2">
                        <h2>每日精选;冬日超值每日特惠开启</h2>
                        <p>整整一个月的超值优惠活动等您参
                            与！每一天都迎来新的24小时限时特惠，千万不要错过</p>
                        <span><b>活动</b> 2020/12/01</span>
                    </dd>
                </div>
                <div>
                    <dd class="dd-1">
                        <span class="ddshadow"></span>
                        <img src="./img/bigsenchina_1920-900_615x.jpg" alt="">
                    </dd>
                    <dd class="dd-2">
                        <h2>2020年12月:活动一览</h2>
                        <p>双旦活动前瞻</p>
                        <span><b>活动</b> 2020/11/30</span>
                    </dd>
                </div>
            </dl>
            <span class="splie l">
            </span>
            <dl class="l">
                <div>
                    <dd class="dd-1">
                        <span class="ddshadow"></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/holiday-ops-2021_615x346.jpg" alt="">
                    </dd>
                    <dd class="dd-2">
                        <h2>[周末福利]紧锣密鼓</h2>
                        <p>周末迎来全局经验兑换折扣1:35,
                            还有经验、个人储备、配件福利!</p>
                        <span>话动2020/11/26</span>
                    </dd>
                </div>
                <div>
                    <dd class="dd-1">
                        <span class="ddshadow"></span>
                        <img src="./img/615x346_7ts9ZUS.jpg" alt="">
                    </dd>
                    <dd class="dd-2">
                        <h2>当之无愧奖:小坦克大故事</h2>
                        <p>请欣赏这个精彩的故事吧!</p>
                        <span>新闻2020/11/26</span>
                    </dd>
                </div>
                <div>
                    <dd class="dd-1">
                        <span class="ddshadow"></span>
                        <img src="./img/615-346_0UcPAsF.jpg" alt="">
                    </dd>
                    <dd class="dd-2">
                        <h2>排位赛黄金组3V3公开赛
                            报名中</h2>
                        <p>第—届《坦克世界》排位赛黄金组
                            3V3公开赛，报名火热进行中!</p>
                        <span>新闻2020/11/26</span>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="centerdown">
            <div class="centerdowntext coent">
            <h2>活动及特惠</h2>
            <ul>
                <li>
                    <div class="box1">
                    <span class="box1shadow"></span>
                    <img src="./img/wot_wint_banner_615x346.jpg" alt="">
                    <p>每日精选闪亮登场</p>
                    </div>                
                    <div class ="box2">
                        <span>剩余时间:</span>
                        <p>28天</p>
                    </div>
                </li>
                <li>
                    <div class="box1">
                    <span class="box1shadow"></span>
                    <img src="./img/bigsenchina_1920-900_615x.jpg" alt="">
                    <p>极地挑战:狩猎S系战斗之星!</p>
                    </div>
                    <div class ="box2">
                        <span>剩余时间:</span>
                        <p>4天</p>
                    </div>
                </li>
                <li>
                    <div class="box1">
                    <span class="box1shadow"></span>
                    <img src="./img/615x346_7ts9ZUS.jpg" alt="">
                    <p>领取您的当之无愧奖</p>
                    </div>
                    <div class ="box2">
                        <span>剩余时间:</span>
                        <p>333天</p>
                    </div>
                </li>
                <li>
                    <div class="box1">
                    <span class="box1shadow"></span>
                    <img src="./img/615-346_0UcPAsF.jpg" alt="">
                    <p>战斗通行证第3赛季</p>
                    </div>
                    <div class ="box2">
                        <span>剩余时间:</span>
                        <p>3天</p>
                    </div>
                </li>
            </ul>
            <span class="seeall">显示全部</span>
            </div>
        </div>
        <div class="foottext">
            <div class="foottextcen coent">
                <ul>
                    <li>
                        <p>数据继承账号查询</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/npi_announcement_615x346.jpg" alt="">
                    </li>
                    <li>
                        <p>老用户回归流程</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/615x346gg_9Vm0Jih.jpg" alt="">
                    </li>
                    <li>
                        <p>更改游戏昵称说明</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/615x346-2.jpg" alt="">
                    </li>
                    <li>
                        <p>申请数据继承</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/tmb/1111_hjoEFUz_615x.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @include('footer.html')
    <script>
        navopen()
        function navopen(){
            $('.kuang').on('click' , function(){
                var turnoff = true
                if($('section').eq( $('.kuang').index($(this)) ).css('display') == 'none'){
                    $('section').slideUp()
                    turnoff = true
                }else{
                    turnoff = false
                }
                if(turnoff){
                    $('section').eq( $('.kuang').index($(this)) ).slideDown()
                    turnoff = false
                }
                else{
                    $('section').eq( $('.kuang').index($(this)) ).slideUp()
                    turnoff = true
                }
            })
        }
    </script>

</body>

</html>