<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="../dil/require.js" data-main="../js/index.js"></script>
</head>
<body>
    @include('header.html')
            <div class="joinplay r">
                <p>
                下载游戏
                </p>
            </div>
            </div>
        </nav>
        <div class="banner">
            <img src="https://static-cdn.wotgame.cn/static/5.73.0_022301/wotp_static/img/main_page/frontend/scss/img/logo_zh-cn.webp" alt="" 
            class="bannerimg">
            <p class="bannerp">《坦克世界》是一款全球范围内倍受玩家推崇的3D装甲载具MMO游戏。丰富多彩的游戏内地图，高度还原历史的模型，真实的战斗体验——赶快加入坦克世界指挥官大军，来感受史诗级战斗的氛围吧</p>
            <div class="bannerdiv">
                <p>创建账号</p>
            </div>
            <video src="./img/video-bg_cn.mp4" muted autoplay width="100%" height="100%" loop></video>
        </div>
    </main>
    <div id="maincot">
        <div class="maincontent coent">
            <ul class="maincont l">
                
            </ul>
            <div class="maincotdiv r">
                <img src="./img/premshop-banner_cn.jpg" alt="">
                <span></span>
            </div>
        </div>
        <div class="centermain coent">
            <div class="centerdiv">
                <h2 class="l">最新消息</h2>
                <a href="#" class="l">所有资讯 ></a>
            </div>
            <div class="centerimg l">
            </div>
            <span class="splie l">
            </span> 
            <dl class="date-dd l">
            </dl>
            <span class="splie l">
            </span>
            <dl class="date-dd2 l">
            </dl>
        </div>
        <div class="centerdown">
            <div class="centerdowntext coent">
            <h2>活动及特惠</h2>
            <ul class="huodong">
            </ul>
            <span class="seeall">显示全部</span>
            </div>
        </div>
        <div class="foottext">
            <div class="foottextcen coent">
                <ul>
                    <li>
                        <p>数据继承账号查询</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/npi_announcement_615x346.jpg" alt="">
                    </li>
                    <li>
                        <p>老用户回归流程</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/615x346gg_9Vm0Jih.jpg" alt="">
                    </li>
                    <li>
                        <p>更改游戏昵称说明</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/615x346-2.jpg" alt="">
                    </li>
                    <li>
                        <p>申请数据继承</p>
                        <span></span>
                        <img src="https://static-cdn.wotgame.cn/dcont/fb/image/tmb/1111_hjoEFUz_615x.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @include('footer.html')
</body>

</html>