
*{margin:0;padding: 0;}

ul{list-style: none;}
a{text-decoration: none;color: #999;}
a:hover{text-decoration: none;}


.coent{width: 1330px;margin: 0 auto;}
.l {float: left;}
.r {float: right;}
header{width: 100%;height: 37px;background: #050505;border-bottom:1px solid #433f45 ;}
header .headerimg{margin: 11px;}
header .headernav li{float: left;font-size: 12px;color: #9b9b9b;margin: 11px;}
header .headernav li:hover{color: #cccccc;cursor: pointer;}
header .headernav li:nth-child(3){color: #9b742f;}
header .headernav li:nth-child(3):hover{color: sandybrown;}
header .headerp a{font-size: 12px;color: #9b9b9b;margin: 3px;margin-top: 12px;}
header .headerp a:nth-of-type(2){margin-right: 23px;}
header .headerp span{font-size: 12px;color: #525454;margin: 3px;margin-top: 12px;}
header .headerp a:hover{color: #cccccc;cursor: pointer;text-decoration: none;}

main{height: 590px;}
main .mainnav{width: 100%;height: 65px;background: rgba(44, 40, 44, .7);position: relative;z-index: 2;}
main .mainnav .mainnavchild li{float: left;margin: 20px;}
main .mainnav .mainnavchild li:nth-child(1){margin-left: 50px;}
main .mainnav .logo{margin-top: 20px;}
main .mainnav .mainnavchild li .zizi{font-size: 13px;color: #aaaaab;font-weight: 900;}
main .mainnav .mainnavchild li .zizi:hover{text-decoration: none;color: rgba(218,161,28,1);}
main .mainnav .mainnavchild .kuang{width: 26px;height: 23px;display: block;float: right;text-align: center;margin-top: 2px;font-weight: 800;color: #aaaaab;}
main .mainnav .mainnavchild .kuang:hover{background: rgba(218,161,28,1);color: black;text-decoration: none;}
main .mainnav .mainnavchild .kuang:hover .zizi{color: rgba(218,161,28,1);}
main .mainnav .mainnavchild li section{width: 100px;height: 300px;background: rgba(46, 42, 41,0.9);margin-top: 21px;margin-left: -20px;position: relative;z-index: 100;display: none;}
main .mainnav .mainnavchild li section option{font-size: 14px;width: 100%;height: 50px;text-align: center;line-height: 50px;color: #aaaaab;}
main .mainnav .mainnavchild li section option:hover{
    color: #fab81b; cursor: pointer;
}